*.o
*.lo
Makefile
Makefile.in
.deps
.libs
*.m4
*.cache
config.log
config.status
configure
libtool
*.la
*.a
gambit-*
_build
.DS_Store
.dirstamp
*~
build
*.egg-info
*.pyc
*.so

config.guess
config.sub
ltmain.sh
gambit.exe
gambit.msi
gambit.wixobj
gambit.wixpdb
installer
compile
depcomp
install-sh
missing
gambit
.python-version
dist
.venv
*.dmg
Gambit.app/*
*.so
doc/tutorials/games/*.nfg
doc/tutorials/games/*.efg
doc/tutorials/*.png
*.dmg
Gambit.app/*
*.ipynb_checkpoints
*.ef
build_support/msw/gambit.wxs
build_support/osx/Info.plist
src/pygambit/catalog
doc/catalog.csv
