*.o
*.lo
Makefile
Makefile.in
.deps
.libs
*.m4
*.cache
config.log
config.status
configure
libtool
*.la
*.a
gambit-*
_build
.DS_Store
.dirstamp
*~
build
*.egg-info
*.pyc

config.guess
config.sub
ltmain.sh
gambit.exe
gambit.msi
gambit.wixobj
gambit.wixpdb
installer
compile
depcomp
install-sh
missing
gambit
.python-version
dist
.venv
