repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-added-large-files
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
- repo: https://github.com/MarcoGorelli/cython-lint
  rev: v0.18.1
  hooks:
    - id: cython-lint
    - id: double-quote-cython-strings
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v21.1.5
  hooks:
    - id: clang-format
      files: ^src\/.*\.(c|cc|cpp|h|imp)$
      types_or: [c++, c]
