repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-added-large-files
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.1
  hooks:
    - id: ruff
- repo: https://github.com/pycqa/flake8
  rev: 7.0.0
  hooks:
    - id: flake8
- repo: https://github.com/MarcoGorelli/cython-lint
  rev: v0.16.0
  hooks:
    - id: cython-lint
    - id: double-quote-cython-strings
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v17.0.6
  hooks:
    - id: clang-format
      files: ^src\/.*\.(c|cc|cpp|h|imp)$
      types_or: [c++, c]
