<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="8EE11AE3-2B91-4870-895B-44C46D648BD6" Name="Gambit 14" Language="1033" Version="14.0.0" Manufacturer="The Gambit Project" UpgradeCode="135FFB28-DA7C-427C-A3DA-783B805BCC22">
        <Package Description="Gambit" Comments="Software Tools for Game Theory" InstallerVersion="200" Compressed="yes" />
        <Media Id="1" Cabinet="gambit.cab" EmbedCab="yes" />

        <WixVariable Id="WixUILicenseRtf" Value="license.rtf"/>
        <UI>
            <UIRef Id="WixUI_Minimal"/>
        </UI>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="ApplicationRootDirectory" Name="Gambit"/> 
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="Gambit"/>
            </Directory>
        </Directory>

        <DirectoryRef Id="ApplicationRootDirectory">
            <Component Id="Gambit.exe" Guid="AEB0EAF8-246A-4194-9628-A4ED3092CD93">
                <File Id="gambit.exe" Source="installer\gambit.exe" KeyPath="yes" Checksum="yes"/>
                <File Id="gambit_enummixed.exe" Source="installer\gambit-enummixed.exe" Checksum="yes"/>
                <File Id="gambit_enumpoly.exe" Source="installer\gambit-enumpoly.exe" Checksum="yes"/>
                <File Id="gambit_enumpure.exe" Source="installer\gambit-enumpure.exe" Checksum="yes"/>
                <File Id="gambit_gnm.exe" Source="installer\gambit-gnm.exe" Checksum="yes"/>
                <File Id="gambit_ipa.exe" Source="installer\gambit-ipa.exe" Checksum="yes"/>
                <File Id="gambit_lcp.exe" Source="installer\gambit-lcp.exe" Checksum="yes"/>
                <File Id="gambit_liap.exe" Source="installer\gambit-liap.exe" Checksum="yes"/>
                <File Id="gambit_logit.exe" Source="installer\gambit-logit.exe" Checksum="yes"/>
                <File Id="gambit_lp.exe" Source="installer\gambit-lp.exe" Checksum="yes"/>
                <File Id="gambit_simpdiv.exe" Source="installer\gambit-simpdiv.exe" Checksum="yes"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="ProgramMenuFolder">
            <Directory Id="ProgramMenuDir" Name="Gambit 14">
                <Component Id="ProgramMenuDir" Guid="F112A6A5-1C0C-4246-BBB8-D3466DA03D4C">
                    <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
                    <RegistryValue Root="HKCU" Key="Software\Gambit\Gambit 14" Type="string" Value="" KeyPath="yes"/>
                </Component>
            </Directory>
        </DirectoryRef>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="3B9A0C37-7E9A-446E-9D14-76EBCCF3F1E0">
                <Shortcut Id="ApplicationStartMenuShortcut"
                          Name="Gambit 14"
                          Description="Software Tools for Game Theory"
                          Target="[ApplicationRootDirectory]Gambit.exe"
                          WorkingDirectory="ApplicationRootDirectory"/>
                <Shortcut Id="UninstallProduct"
                          Name="Uninstall Gambit 14"
                          Description="Uninstalls Gambit"
                          Target="[System64Folder]msiexec.exe"
                          Arguments="/x [ProductCode]"/>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\Microsoft\Gambit 14" Name="installed" Type="integer" Value="1" KeyPath="yes"/> 
            </Component>
        </DirectoryRef>
        <Feature Id="Complete" Level="1">
            <ComponentRef Id="Gambit.exe"/>
            <ComponentRef Id="ProgramMenuDir"/>
            <ComponentRef Id="ApplicationShortcut"/>
        </Feature>
    </Product>
</Wix>