Cython
numpy
scipy
pydata-sphinx-theme
sphinx_design
sphinx-autobuild
nbsphinx
ipython
matplotlib
pickleshare
jupyter
open_spiel; sys_platform != 'win32'
draw-tree @ git+https://github.com/gambitproject/draw_tree.git@v0.2.0
