recursive-include core *.cc *.h *.imp
recursive-include games *.cc *.h *.imp
recursive-include solvers *.c *.cc *.h *.imp
include pygambit/lib/*.h
include gambit.h
include tools/lp/nfglp.cc
include tools/lp/nfglp.h
include tools/lp/efglp.cc
include tools/lp/efglp.h
include tools/logit/logbehav.imp
include tools/logit/logbehav.h
include tools/logit/path.cc
include tools/logit/path.h
include tools/logit/nfglogit.cc
include tools/logit/nfglogit.h
include tools/logit/efglogit.cc
include tools/logit/efglogit.h
include README.rst


